@import 'vars';
@import 'fonts';
@import 'reset';
@import 'global';

.header{
    padding: 45px 0;
    &__inner{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.logo{
    display: flex;
    align-items: center;
    &__name{
        font-size: 36px;
        line-height: 58px;
        color: $default;
        margin-left: 10px;
        @extend %rubik-500;
    }
}

.menu{
    &__list{
        display: flex;
    }
    &__list-item + .menu__list-item{
        padding-left: 35px;
    }
    &__list-link{
        font-size: 15px;
        line-height: 12px;
        color: $default;
        padding-bottom: 4px;
        transition: all .3s;
        @extend %rubik-500;
        &:hover{
            color: $title;
            border-bottom: 1px solid $title;
        }
    }
    &__list-link--active{
        color: $title;
        border-bottom: 1px solid $title;
    }
}

.user-nav{
    display: flex;
    &__link{
        position: relative;
    }
    &__link + .user-nav__link{
        margin-left: 60px;
    }
    &__wrapper{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 180px;
        height: 50px;
        background-color: #fcd7b6;
        border-radius: 20px;
    }
    &__btn{
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        background-color: transparent;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        border: none;
        background-color: #a3bbc8;
        margin-left: 20px;
        
    }
    &__link-search{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        margin-right: 20px;
        background-color: #edf1f4;
        
    }
    &__num{
        position: absolute;
        width: 16px;
        height: 16px;
        border-radius: 50%;
        background-color: #fff;
        top: -7px;
        right: -10px;
        text-align: center;
        font-size: 10px;
        line-height: 16px;
        color: #243f4d;
        @extend %dmsans-400;
    }
}










@import 'media';
